<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            {{#each products.docs}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="position-relative m-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {{#if products.hasPrevPage}}
                    <li class="page-item">
                        <a
                        class="page-link" 
                        href="/products?page={{products.prevPage}}&&limit=5"
                        >
                        Anterior
                        </a>
                    </li>
                {{/if}}

                {{#if products.hasNextPage}}
                    <li class="page-item">
                        <a
                        class="page-link" 
                        href="/products?page={{products.nextPage}}&&limit=5"
                        >
                        Siguiente
                        </a>
                    </li>
                {{/if}}
            </ul>
        </nav>
        <p class="btn btn-primary">
            Pagina: {{products.page}}
        </p>
    </div>
</div>